{% extends 'base.html.twig' %}

{% block title %}{% trans %}LogIn{% endtrans %}{% endblock %}

{% block container %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {% trans %}LoggedAs{% endtrans %}{{ app.user.prenom }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
        </div>
    {% else %}

        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">{% trans %}PlzSignIn{% endtrans %}</h1>
            <label for="inputEmail">{% trans %}Mail{% endtrans %}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">{% trans %}Psw{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <br/>
            <button class="btn btn-lg btn-primary" type="submit">
                {% trans %}LogIn{% endtrans %}
            </button>
        </form>
    {% endif %}
{% endblock %}
