{% extends "base.html.twig" %}
{% block meta %}
    <meta http-equiv="refresh" content="3; url=/{{app.request.getLocale()}}/login">
{% endblock %}

{% block container %}
    <h1>Modification effectuée, veuillez vous reconnecter</h1>
{% endblock %}