{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Register{% endtrans %}
{% endblock %}

{% block container %}

	{% if app.user %}
		<div class="mb-3">
			{% trans %}LoggedAs{% endtrans %}
			{{ app.user.prenom }},
			<a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
		</div>
	{% else %}
		<h1>{% trans %}Register{% endtrans %}</h1>

		{{ form_start(registrationForm) }}
		{{'RegNom'|trans({})}}
		{{ form_widget(registrationForm.nom) }}
		{{'RegPrenom'|trans({})}}
		{{ form_widget(registrationForm.prenom) }}
		{{'RegMail'|trans({})}}
		{{ form_widget(registrationForm.email) }}
		{{'RegMDP'|trans({})}}
		{{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		<button type="submit" class="btn btn-lg btn-primary">{% trans %}Register{% endtrans %}</button>
		{{ form_end(registrationForm) }}
	{% endif %}
{% endblock %}
