<form method="post" action="{{ path('commentaires_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('{% trans %}ComConfirmDel{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="btn text-danger"><i class="fa-solid fa-trash pr-2"></i>{% trans %}ComDelete{% endtrans %}</button>
</form>
