{{ form_start(form) }}
{{'ComTitre'|trans({})}}
{{ form_widget(form.titre) }}
{{'ComDescription'|trans({})}}
{{ form_widget(form.description) }}
{{'ComAuteur'|trans({})}}
{{ form_widget(form.auteur) }}
<button class="text-success btn">
	<i class="fa-solid fa-check pr-2"></i>
	{% trans %}ComValid{% endtrans %}</button>
{{ form_end(form) }}
