{% extends 'base.html.twig' %}

{% block container %}
    <h1>{% trans %}ComModif{% endtrans %} #{{commentaire.id}}</h1>

    {{ include('commentaires/_form.html.twig', {'button_label': 'Valider'}) }}

    <a class="ml-3" href="{{ path('commentaires_index') }}"><i class="fa-solid fa-angle-left mr-2"></i>{% trans %}ComBackToList{% endtrans %}</a>

    {{ include('commentaires/_delete_form.html.twig') }}
{% endblock %}
