{% extends 'base.html.twig' %}

{% block container %}
    <h1>{% trans %}ComPageTitre{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}ComId{% endtrans %}</th>
                <th>{% trans %}ComDescription{% endtrans %}</th>
                <th>{% trans %}ComDate{% endtrans %}</th>
                <th>{% trans %}ComTitre{% endtrans %}</th>
                <th>{% trans %}ComAuteur{% endtrans %}</th>
                <th>{% trans %}ComNomCrypto{% endtrans %}</th>
                <th>{% trans %}ComAction{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.description }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
                <td>{{ commentaire.titre }}</td>
                <td>{{ commentaire.auteur }}</td>
                <td>{{ commentaire.nomCrypto }}</td>
                <td>
                    <a href="{{ path('commentaires_show', {'id': commentaire.id}) }}"><i class="fa-solid fa-eye mr-2"></i></a>
                    <a href="{{ path('commentaires_edit', {'id': commentaire.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}ComNoRecord{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('commentaires_new') }}">Create new</a> #}
{% endblock %}
