{% extends 'base.html.twig' %}

{% block container %}
    <h1>{% trans %}ComCreate{% endtrans %}</h1>

    {{ include('commentaires/_form.html.twig') }}

    <a href="{{ path('commentaires_index') }}">{% trans %}ComBackToList{% endtrans %}</a>
{% endblock %}
