{% extends 'base.html.twig' %}

{% block container %}
    <h1>{% trans %}ComDetail{% endtrans %} #{{commentaire.id}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}ComId{% endtrans %}</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}ComDescription{% endtrans %}</th>
                <td>{{ commentaire.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}ComDate{% endtrans %}</th>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}ComTitre{% endtrans %}</th>
                <td>{{ commentaire.titre }}</td>
            </tr>
            <tr>
                <th>{% trans %}ComAuteur{% endtrans %}</th>
                <td>{{ commentaire.auteur }}</td>
            </tr>
            <tr>
                <th>{% trans %}ComNomCrypto{% endtrans %}</th>
                <td>{{ commentaire.nomCrypto }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ml-3" href="{{ path('commentaires_index') }}"><i class="fa-solid fa-angle-left mr-2"></i>{% trans %}ComBackToList{% endtrans %}</a>

    <a class="ml-3" href="{{ path('commentaires_edit', {'id': commentaire.id}) }}"><i class="fa-solid fa-pen mr-2"></i>{% trans %}ComChange{% endtrans %}</a>

    {{ include('commentaires/_delete_form.html.twig') }}
{% endblock %}
