<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CryptosProject">
    <meta name="author" content="Arthur-Mathieu-Rémy">
    {% block meta %}
    {% endblock %}
    <title>{% block title %}{% trans %}Title{% endtrans %}{% endblock %}</title>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>


    <link href="/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/css/dark-mode.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body id="page-top">
{% block top %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               href="/{{ app.request.getLocale() }}/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-coins"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{% trans %}Title{% endtrans %}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans %}SideBar{% endtrans %}
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/{{ app.request.getLocale() }}/favoris">
                    <i class="fas fa-fw fa-star"></i>
                    <span>{% trans %}Favorite{% endtrans %}</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/{{ app.request.getLocale() }}/rechercheAvance">
                    <i class="fas fa-fw fa-table"></i>
                    <span>{% trans %}RechercheAvancee{% endtrans %}</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/{{ app.request.getLocale() }}/marketCapRank">
                    <i class="fas fa-fw fa-table"></i>
                    <span>marketCapRank</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>{% trans %}Account{% endtrans %}</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% if app.user %}
                            <a class="collapse-item"
                               href="/{{ app.request.getLocale() }}/logout">{% trans %}Logout{% endtrans %}</a>
                        {% else %}
                            <a class="collapse-item"
                               href="/{{ app.request.getLocale() }}/login">{% trans %}Login{% endtrans %}</a>
                            <a class="collapse-item"
                               href="/{{ app.request.getLocale() }}/inscription">{% trans %}Register{% endtrans %}</a>
                        {% endif %}
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="/{{ app.request.getLocale() }}/admin/commentaires">
                        <i class="fas fa-fw fa-key"></i>
                        <span>{% trans %}ComManage{% endtrans %}</span></a>
                </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}Langues{% endtrans %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for key,locale in locales %}
                                <a class="dropdown-item"
                                   href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{ locale }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="ml-4  dcustom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="darkSwitch">
                        <label class="custom-control-label" for="darkSwitch">{% trans %}DarkMode{% endtrans %}</label>
                    </div>
                    <script src="/js/dark-mode-switch.min.js"></script>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if app.user %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.prenom }} {{ app.user.nom }}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/{{ app.request.getLocale() }}/setAdmin">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Admin{% endtrans %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% trans %}Logout{% endtrans %}
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <br>
                    {% block container %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    {% endblock %}
                </div>
                <!-- /.container-fluid -->


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                {% block footer %}
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Projet Cryptos - Mathieu Vinet / Arthur Frion / Rémy Coutant</span>
                        </div>
                    </div>
                {% endblock %}
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}RdyToLeave{% endtrans %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{% trans %}SelLogout{% endtrans %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                            data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a class="btn btn-primary"
                       href="/{{ app.request.getLocale() }}/logout">{% trans %}Logout{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="/js/sb-admin-2.js"></script>
{% block javascript %}

{% endblock %}
</body>
</html>
