{% extends "base.html.twig" %}
{% block meta %}
    <meta http-equiv="refresh" content="0; url=/{{app.request.getLocale()}}/">
{% endblock %}

{% block container %}
    <h1>Enrichissement Base de donnée en cours... Merci de Patienter</h1>
<img src="https://c.tenor.com/A3lLdiPt95AAAAAC/work-minions.gif" width="100%" height="100%">
{% endblock %}