{% extends "base.html.twig" %}
{% block meta %}
    <meta http-equiv="refresh" content="2; url=/{{app.request.getLocale()}}/detail/{{name}}">
{% endblock %}

{% block container %}
    <h1>{% trans %}ComAdd{% endtrans %}  <i class="fa fa-thumbs-up"></i></h1>
{% endblock %}