{% extends "base.html.twig" %}

{% block stylesheets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col">
            <h3><img src={{ cryptos["image"]["thumb"] }} width="35" height="35"> {{ cryptos["id"]|upper }}
                #{{ cryptos["market_cap_rank"] }}</h3>

        </div>
        <div class="col">
            {% if app.user %}
                {% if isFav %}
                    <form action="/{{app.request.getLocale()}}/delete\{{ cryptos["id"] }}/{{ idBDD }}">
                        <button type="submit" class="btn float-right"><i class="fa-solid fa-star"></i></button>
                    </form>
                {% else %}
                    <form action="/{{app.request.getLocale()}}/add\{{ cryptos["id"] }}/{{ idBDD }}">
                        <button type="submit" class="btn float-right"><i class="fa-regular fa-star"></i></button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                {% trans %}Price{% endtrans %} {{ cryptos["id"] }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cryptos["market_data"]["current_price"]["usd"] }}
                                $
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Catégories
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">

                                {% for categorie in cryptos["categories"] %}
                                    {{ categorie }}
                                {% endfor %}

                            </div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% trans %}CreationDate{% endtrans %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if cryptos["genesis_date"] != null %}
                                    {{ cryptos["genesis_date"] }}
                                {% else %}
                                    {% trans %}Unknown{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% trans %}TwitFollow{% endtrans %}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ cryptos["community_data"]["twitter_followers"] }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-kiwi-bird fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 mb-4">
            <div class="card shadow">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}VariationOf{% endtrans %} {{ cryptos["id"] }}
                        {% trans %}Today{% endtrans %}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="col col-lg-6 mb-4">
            <div class="card shadow">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                   role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Description{% endtrans %}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        {% if cryptos["description"]["en"] != null %}
                            {{ cryptos["description"]["en"]|raw }}
                        {% else %}
                            {% trans %}Unknown{% endtrans %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if idBDD != 0 %}
        <div class="card shadow mb-4">
            <div class="card-header">
                {% trans %}AddCom{% endtrans %}
            </div>
            {% if app.user %}
                <div class="card-body">
                    {{ form_start(form) }}
                    {{'ComTitre'|trans({})}}
                    {{ form_widget(form.titre) }}
                    {{'ComDescription'|trans({})}}
                    {{ form_widget(form.description) }}
                    <button type="submit" class="btn btn-lg btn-primary">{% trans %}valider{% endtrans %}</button>
                    {{ form_end(form) }}

                </div>
            {% else %}
                <div class="card-body"> {% trans %}OnlyConnectedUserCanComment{% endtrans %}</div>
            {% endif %}
        </div>

        <div class="row">
            {% for commentaire in commentaires %}
                <div class="col col-lg-6 mb-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">{{ commentaire.getAuteur() }} </h6>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show">
                            <div class="card-body">
                                <h5>{{ commentaire.getTitre() }}</h5>
                                {{ commentaire.getDescription() }}
                            </div>
                            <div class="card-footer">
                                {% if app.user and app.user.username == commentaire.getAuteur() %}
                                    <button class="btn text-danger" disabled>{% trans %}Delete{% endtrans %}</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if commentaires == null %}
                <div class="col col-lg-6 mb-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">{% trans %}NoComYet{% endtrans %}</h6>
                        </div>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show">
                            <div class="card-body">
                                <i class="fa fa-coins"></i>
                                {% trans %}BeTheFirstToComment{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>{% trans %}NoCommForNotStocked{% endtrans %}</p>
    {% endif %}
{% endblock %}
{% block javascript %}
<script>
    const dark = document.body.getAttribute('data-theme');
    console.log(dark);
    let darkcolor;
    if ( dark !== null ) {
    darkcolor = '#333'
} else {
    darkcolor = '#ffffff'
}
    const chart = Highcharts.chart('container', {
    chart: {
    backgroundColor: darkcolor,
    type: 'line'
},

    xAxis: {
    type: 'datetime'
},
    title: {
    text: "Courbe du {{cryptos["id"]}}"
},
series: [{
data: []
}]
});

fetch('https://api.coingecko.com/api/v3/coins/{{cryptos["id"]}}/market_chart?vs_currency=usd&days=1')
.then(response => response.json())
.then(data => chart.series[0].setData(data.prices));
</script>
{% endblock %}