{% extends "base.html.twig" %}

{% block container %}
    <h1>{% trans %}MarketCapTitle{% endtrans %}</h1>
    <div class="row">
    <div class="col col-lg-6 mb-4">
        <div class="card shadow">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ Inf50Count }} cryptos Inférieurs à 50 000 000</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% trans %}MarNom{% endtrans %}</th>
                        <th>{% trans %}MarPrix{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for c in Inf50  %}
                            <tr>
                                <td><img src={{c.getImage()}} width="20" height="20"> {{c.getNom()| upper}}</td>
                                <td>{{ c.getPrix() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-lg-6 mb-4">
        <div class="card shadow">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ Sup50Inf500Count }} cryptos supérieurs à 50 000 000 et inférieurs à 500 000 000</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample2">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Prix{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in Sup50Inf500  %}
                        <tr>
                            <td><img src={{c.getImage()}} width="20" height="20"> {{c.getNom()| upper}}</td>
                            <td>{{ c.getPrix() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        </table></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-lg-6 mb-4">
        <div class="card shadow">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ Sup500Inf1MCount }} cryptos supérieurs à 500 000 000 et inférieurs à 1 000 000 000 </h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Prix{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in Sup500Inf1M  %}
                        <tr>
                            <td><img src={{c.getImage()}} width="20" height="20"> {{c.getNom()| upper}}</td>
                            <td>{{ c.getPrix() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        </table></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-lg-6 mb-4">
        <div class="card shadow">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ Sup1MCount }} supérieurs à  1 000 000 000  </h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Prix{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in Sup1M  %}
                        <tr>
                            <td><img src={{c.getImage()}} width="20" height="20"> {{c.getNom() | upper}}</td>
                            <td>{{ c.getPrix() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        </table></div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}