{% extends "base.html.twig" %}

{% block container %}
    <h3>{% trans %}AdvancedSearch{% endtrans %}</h3>
    <p>{% trans %}AdvSearchShowed{% endtrans %}</p>
    <p>{% trans %}Only2{% endtrans %}</p>
    <div class="row">
    {% for prix in cryptosPrix %}
        <ul>
            <li>{{ prix['name']|upper }}</li>
            <li>{% trans %}min{% endtrans %} : {{ prix['min'] }}$</li>
            <li>{% trans %}max{% endtrans %} : {{ prix['max'] }}$</li>
            <li>{% trans %}TopPeak{% endtrans %} : {{ prix['pourcentage'] }}%</li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}