{% extends "base.html.twig" %}

{% block stylesheets %}

    <script>
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
    </script>

{% endblock %}
{% block container %}
    <h1 class="h3 mb-2 text-gray-800">{% trans %}ListOfFav{% endtrans %}</h1>
    <p class="mb-4">{% trans %}ClickCryptoName{% endtrans %}</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% trans %}ListOfFav{% endtrans %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-lg" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}Money{% endtrans %}</th>
                        <th>{% trans %}Cours{% endtrans %}</th>
                        <th>1h</th>
                        <th>24h</th>
                        <th>7{% trans %}DaySymb{% endtrans %}</th>
                        <th>30{% trans %}DaySymb{% endtrans %}</th>
                        <th>1{% trans %}AnneeSymb{% endtrans %}</th>
                        <th>{% trans %}Vol24h{% endtrans %}</th>
                        <th>{% trans %}Circulating{% endtrans %}</th>
                        <th>{% trans %}Total{% endtrans %}</th>
                        <th>{% trans %}CapMarket{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in cryptos %}
                    {% for crypto in c  %}
                        <tr>
                            <td>{{ crypto.getMarketCapRank() }}</td>
                            <td><img src={{crypto.getImage()}} width="20" height="20"><a href="/{{app.request.getLocale()}}/detail/{{crypto.getNom()}}"> {{ crypto.getSymbole() | upper }}</a></td>
                            <td>{{ crypto.getPrix() }} USD</td>
                            {%if crypto.getPriceChangePercentage1hInCurrency() > 0 %}
                                <td class="text-success">{{ crypto.getPriceChangePercentage1hInCurrency() }} %</td>
                            {% else %}
                                <td class="text-danger">{{ crypto.getPriceChangePercentage1hInCurrency() }} %</td>
                            {% endif %}
                            {%if crypto.getPriceChangePercentage24hInCurrency() > 0 %}
                                <td class="text-success">{{ crypto.getPriceChangePercentage24hInCurrency() }} %</td>
                            {% else %}
                                <td class="text-danger">{{ crypto.getPriceChangePercentage24hInCurrency() }} %</td>
                            {% endif %}
                            {%if crypto.getPriceChangePercentage7dInCurrency() > 0 %}
                                <td class="text-success">{{ crypto.getPriceChangePercentage7dInCurrency() }} %</td>
                            {% else %}
                                <td class="text-danger">{{ crypto.getPriceChangePercentage7dInCurrency() }} %</td>
                            {% endif %}
                            {%if crypto.getPriceChangePercentage30dInCurrency() > 0 %}
                                <td class="text-success">{{ crypto.getPriceChangePercentage30dInCurrency() }} %</td>
                            {% else %}
                                <td class="text-danger">{{ crypto.getPriceChangePercentage30dInCurrency() }} %</td>
                            {% endif %}
                            {%if crypto.getPriceChangePercentage1yInCurrency() > 0 %}
                                <td class="text-success">{{ crypto.getPriceChangePercentage1yInCurrency() }} %</td>
                            {% else %}
                                <td class="text-danger">{{ crypto.getPriceChangePercentage1yInCurrency() }} %</td>
                            {% endif %}
                            <td>{{ crypto.getTotalVolume() }} $</td>
                            <td>{{ crypto.getCirculatingSupply() }}</td>
                            {%if crypto.getMaxSupply() > 0 %}
                                <td>{{ crypto.getMaxSupply()}}</td>
                            {% else %}
                                <td><i class="fas fa-infinity"></i></td>
                            {% endif %}
                            <td>{{ crypto.getMarketCap() }} $</td>
                        </tr>
                    {% endfor %}{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
{% endblock %}