{% extends "base.html.twig" %}
{% block meta %}
    <meta http-equiv="refresh" content="2; url=/{{app.request.getLocale()}}/detail/{{NomCrypto}}">
{% endblock %}

{% block container %}
    <h1>{{ NomCrypto|upper }} {% trans %}FavIsDel{% endtrans %}a bien été supprimé des Favoris  <i class="fa fa-thumbs-up"></i></h1>
{% endblock %}